<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="{{ csrf_token() }}">
  <meta name="google-site-verification" content="ggX5GBiYpbqoL1RTsuegpFC1gnULJ05OvB2WGhACShw" />
  <title>Register Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-TRXT45F11K"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-TRXT45F11K');
  </script>
</head>
<body>
  <h2>Register</h2>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages%}
  <div class="flash_{{ category }}">
    <p>{{ message }}</p>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <form method="POST" action="{{ url_for('auth.register') }}">
      <a href="{{ url_for('auth.login') }}" class="sign_in_container">Login</a>
    {{ form.hidden_tag() }}
    <p>
      {{ form.username.label }}<br>
      {{ form.username(size=32) }}<br>
      {% for error in form.username.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.password.label }}<br>
      {{ form.password(size=32) }}<br>
      {{ form.confirm_password(size=32) }}<br>
      {% for error in form.password.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
</body>
</html>