<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/review.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}">
    <script src="{{ url_for('static', filename='js/review.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <nav>
            {% include 'navigation.html' %}
        </nav>
    </header>
    <main id="top_container">
        <div id="table-container">
            <div id="table-title">
                <table border="1">
                    {% if miss_kanji_data == [] %}
                    <div id="none-review-info">You haven't made any mistakes yet</div>
                    {% else %}
                    <thead>
                        <tr>
                            <th>kanji</th>
                            <th>details</th>
                            <th>check box</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in miss_kanji_data %}
                        <tr>
                            <td>{{ item.kanji }}</td>
                            <td><button class="details_button" value="{{ item.kanji_id }}">details</a></td>
                            <td><input type="checkbox" value="{{ item.kanji_id }}"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% endif %}
                </table>
            </div>
        </div>
        <div id="send-info">
            <button>Exclude</button>
        </div>
    </main>
    <main id="details_preview" class="hidden">
        <div id="return_button_container">
            <button id="return_review_list">return to review list</button>
        </div>
        <div id="kanji_explanation_container">
            <div id="kanji_content">
                <div id="kanji_flame">
                    <p><span id="kanji">例</span></p>
                </div>
            </div>
            <div id="kanji_yomi_contents">
                <p>Kun reading (romanized):<span id="kunyomi_roma">初期値</span></p>
                <p>Kun reading (japanese):<span id="kunyomi_ja">初期値</span></p>
                <p>On reading (romanized):<span id="onyomi_roma">初期値</span></p>
                <p>On reading (japanese):<span id="onyomi_ja">初期値</span></p>
            </div>
        </div>
    </main>
</body>
</html>